<section class="tab-content">
    <h3>Weapon Stats</h3>
    <div class="form-group">
        <label>Damage Die</label>
        <input type="text" name="system.damage_die" value="{{system.damage_die}}">
    </div>
    <div class="form-group">
        <label>Damage Stat</label>
        <input type="text" name="system.damage_stat" value="{{system.damage_stat}}">
    </div>
    <div class="form-group">
        <label>Action 1</label>
        <input type="text" name="system.action1" value="{{system.action1}}">
    </div>
    <div class="form-group">
        <label>Action 2</label>
        <input type="text" name="system.action2" value="{{system.action2}}">
    </div>
    <div class="form-group">
        <label>Tags</label>
        <input type="text" name="system.tags" value="{{system.tags}}">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="system.description">{{system.description}}</textarea>
    </div>
</section>
